<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | Liesen Roznek</title>
  
  <link rel = "icon" type = "image/png" href = "/assets/nablaSalmon.png">
  <link rel="stylesheet" href="/assets/style.css">
  <script type="importmap">
      {
        "imports": {
          "three": "https://unpkg.com/three@latest/build/three.module.js",
          "three/addons/": "https://unpkg.com/three@latest/examples/jsm/"
        }
      }
  </script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
  <script type = "module" src="/assets/shared.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  

  <main>
    {{ content }}
  </main>

  <footer>
    <p>© 2026 César Bracamonte</p>
    <a href="..\index.html" id="tribute-link" class="links"> Volver a casa</a>
  </footer>
</body>
</html>